svg {
  background-color: white;
}

.rect-background {
  fill: white;
}

.cell {
  stroke-width: 1px;
}

.axis path,
.axis line {
  stroke: none;
  fill: none;
}

.axis text {
  fill: dimgrey;
  font-size: 9px;
}
